################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CRUD.Dapper.User/v16/Server/sqlite3
